/* Full page */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* Site navigation bar */

.top_nav_bar {
    background-color: black;
}

.top_nav_bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.top_nav_bar ul li {
    text-align: center;
    /*not sure */
    width: 10%;
    /* */
}

.top_nav_bar ul li a {
    color: gold;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    /*not sure */
    display: block;
    /* */
}

.top_nav_bar ul li a:hover {
    background-color: #404040;
}

#profile_link {
    margin-left: 60%;
}

/* Arena name bar */

.arena_name {
    background-color: #00003b;
    text-align: center;
}

.arena_name h3 {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
}

/* Main arena div */

.arena_main {
    background-color: white;
    display: flex;
}

.arena_main div {
    flex: auto;
}

div.player_hero_panel {
    background-color: #336699
}

div.battle_arena {
    background-color: black;
}

div.enemy_hero_panel {
    background-color: #990000;
}

/* Skills bars */

.skills_bars {
    background-color: black;
    display: flex;
}

.skills_bars div {
    flex: auto;
}

div.player_hero_skill_bar {
    background-color: #006699
}

div.enemy_hero_skill_bar {
    background-color: #cc0000;
}

/* Footer */

.footer {
    background-color: black;
}